/* src/components/LandingSection.css */
.landing-section {
    background-image: url('../../images/1.webp'); 
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
  }
  
  .landing-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: 1;
  }
  
  .landing-content {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  
  .landing-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .landing-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .landing-content button {
    font-size: 1rem;
    font-weight: bold;
  }
  